<manifest xmlns:android="http://schemas.android.com/apk/res/android">

	<application
		android:label="Simple AES256 Tools"
		android:icon="@drawable/app_icon"
		android:largeHeap="true"
		android:usesCleartextTraffic="true"
		android:theme="@style/AppTheme">

		<activity
			android:name=".MainActivity"
			android:configChanges="orientation|screenSize"
			android:exported="true">

			<intent-filter>
				<action	android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>
	</application>
</manifest>
